.open_from_btn {
  background-color: #ff004f;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.8;
  width: 280px;
}
.popup_form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid;
  display: none;
  outline: none;
}
.form_container {
  max-width: 350px;
  padding: 10px;
  background-color: white;
  outline: none;
}
.form_container h1 {
  text-align: center;
  color: #00004d;
  font-size: 50px;
}
.form_container input[type="text"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0px 22px 0px;
  border: 1px solid #f1f1f1;
  background-color: #fff;
}
.form_container input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0px 22px 0px;
  border: 1px solid #f1f1f1;
  background-color: #fff;
}
.form_container input[type="text"]:focus {
  background-color: #f1f1f1;
  outline: none;
}
.login_btn {
  background-color: #800038;
  color: white;
  padding: 16px 20px;
  cursor: pointer;
  margin-bottom: 10px;
  opacity: 0.8;
  width: 100%;
  outline: none;
}
.cancel_btn {
  background-color: #800038;
  color: white;
  padding: 16px 20px;
  cursor: pointer;
  margin-bottom: 10px;
  opacity: 0.8;
  width: 100%;
  outline: none;
}
.cancel_btn:hover {
  opacity: 1;
}
.login_btn:hover {
  opacity: 1;
}
